.rachel{
    font-weight: bolder;
    color:black;
    background-color:whitesmoke;
    border-radius: 30px;
    text-align: center;
    border: 1px solid;
    padding: 10px;
}


.fa{
    font-size: 20px;
    padding:10px;
    padding-left:20px;
    justify-content: space-around;
    display: inline-flex;
}